.landing {
  overflow-x: hidden;
}

.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0;
  width: 100%;
  height: 50px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.897);
  z-index: 1000;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.navlink {
  width: 50%;
  margin-right: 30px;
}

.navlink ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  color: white;
}

.navlink ul li {
  padding-right: 10px;
}

.navlink ul li a {
  text-decoration: none;
  color: white;
}

.logo {
  margin-top: 1px;
  margin-left: 30px;
  font-size: 35px;
}

/* About CSS */

.about {
  height: 75vh;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  max-width: 100%;
  margin-bottom: 100px;
}

.container {
  padding: 50px;
  align-items: center;
  width: 40%;
}

.container img {
  width: 110%;
}

.intro {
  font-size: 50px;
  font-family: "Times New Roman", Times, serif;
  padding-top: 30px;
  font-weight: 300;
}

.self {
  font-size: 20px;
  font-style: oblique;
}

.btn {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  width: 70%;
}

/* QnA CSS */

.qna {
  margin-top: 30px;
  padding-left: 130px;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 100px;
  background: radial-gradient(white, lightgray);
  /* background-color: rgb(17, 99, 250); */
}

.qna_title {
  padding: 20px;
  font-weight: 300;
  font-family: "Times New Roman", Times, serif;
}

/* Course  */

.course {
  margin-top: 50px;
  background: radial-gradient(rgb(203, 206, 241), white);
  overflow-x: hidden;
}

.course_wrap {
  padding-top: 50px;
}

.course_title {
  display: flex;
  justify-content: center;
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
}

.course_card {
  margin-left: 20px;
  padding-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-basis: 22%;
  margin-bottom: 250px;
}

.mediacard {
  margin-left: 22px;
  padding: 10px;
  width: 30%;
  min-height: 350px;
}

.blogCard {
  margin-left: 22px;
  padding: 10px;
  width: 30%;
  min-height: 150px;
  margin-bottom: 50px;
}

.add_icon {
  position: fixed;
  margin-left: 1200px;
  margin-top: 300px;
}

.experts {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  padding-top: 50px;
  padding-bottom: 50px;
  font-weight: 400;
}

.expertsHr {
  opacity: 0.3;
  margin-left: 60px;
  margin-right: 60px;
}

.expertsSec {
  background-image: linear-gradient(
    to top,
    rgba(255, 0, 0, 0),
    rgb(229, 226, 253)
  );
  padding-top: 7px;
}

.expertDemo {
  display: flex;
  justify-content: space-around;
  margin-left: 30px;
  margin-right: 30px;
}

.expertCard {
  margin-left: 22px;
  padding: 10px;
  width: 30%;
  min-height: 150px;
  margin-bottom: 50px;
}

.meetExperts {
  width: 200px;
  height: auto;

  position: absolute;
  left: 0;
  right: 0;

  margin: auto;
}
/* Footer */

.footer {
  margin-top: 100px;
}

.footer_container {
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.887);
}

.row {
  display: flex;
  justify-content: space-around;
  color: #fff;
  font-family: "Times New Roman", Times, serif;
}

.footer-col2 {
  width: 30%;
  align-items: center;
}

.copyright {
  color: #fff;
}

.apt {
  padding-left: 10px;
}

.watch_btn {
  text-decoration: none;
}

.bottom_btn {
  position: absolute;
  bottom: 0;
}
