.landing {
  overflow-x: hidden;
}

.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0;
  width: 100%;
  height: 50px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.897);
  z-index: 1000;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.navlink {
  width: 50%;
  margin-right: 30px;
}

.navlink ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  color: white;
}

.navlink ul li {
  padding-right: 10px;
}

.navlink ul li a {
  text-decoration: none;
  color: white;
}

.logo {
  margin-top: 1px;
  margin-left: 30px;
  font-size: 35px;
}

/* About CSS */

.about {
  height: 75vh;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  max-width: 100%;
  margin-bottom: 100px;
}

.container {
  padding: 50px;
  align-items: center;
  width: 40%;
}

.container img {
  width: 110%;
}

.intro {
  font-size: 50px;
  font-family: "Times New Roman", Times, serif;
  padding-top: 30px;
  font-weight: 300;
}

.self {
  font-size: 20px;
  font-style: oblique;
}

.btn {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  width: 70%;
}

/* QnA CSS */

.qna {
  margin-top: 30px;
  padding-left: 130px;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 100px;
  background: radial-gradient(white, lightgray);
  /* background-color: rgb(17, 99, 250); */
}

.qna_title {
  padding: 20px;
  font-weight: 300;
  font-family: "Times New Roman", Times, serif;
}

/* Course  */

.course_card {
  padding-top: 100px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-basis: 22%;
  margin-bottom: 250px;
}

.mediacard {
  margin-left: 22px;
  padding: 10px;
  width: 30%;
  min-height: 350px;
}

.blogCard {
  margin-left: 22px;
  padding: 10px;
  width: 30%;
  min-height: 150px;
  margin-bottom: 50px;
}

/* Footer */

.footer_container {
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.887);
}

.row {
  display: flex;
  justify-content: space-around;
  color: #fff;
  font-family: "Times New Roman", Times, serif;
}

.footer-col2 {
  width: 30%;
  align-items: center;
}

.copyright {
  color: #fff;
}


